/AIAlphaBeta.class
/AIMinMax.class
/AIRandom.class
/Bishop.class
/ChessGUI.class
/Constant.class
/Converter.class
/Cord.class
/Empty.class
/FischerClock.class
/Game.class
/GameHelper.class
/GameInfo.class
/Human.class
/Intelligence.class
/King.class
/Knight.class
/Main.class
/Move.class
/Pawn.class
/Piece.class
/PieceTest.class
/Player.class
/Queen.class
/Rook.class
/Type.class
